@font-face{font-family:'Actay';src:url('assets/actay.woff2') format('woff2');font-display:swap}
@font-face{font-family:'Actay Condensed';src:url('assets/actay-condensed.woff2') format('woff2');font-display:swap}
@font-face{font-family:'Deledda Open';src:url('assets/deledda-open.woff2') format('woff2');font-display:swap}
@font-face{font-family:'Doloman Pavljenko';src:url('assets/doloman.woff2') format('woff2');font-display:swap}
@font-face{font-family:'Gothic 60';src:url('assets/gothic60.woff2') format('woff2');font-display:swap}
@font-face{font-family:'Stereonic XS';src:url('assets/stereonic-xs.woff2') format('woff2');font-display:swap}
