@font-face{font-family:'Doloman Pavljenko';src:url('assets/doloman.woff2') format('woff2');font-display:swap}
@font-face{font-family:'Stereonic XS';src:url('assets/stereonic-xs.woff2') format('woff2');font-display:swap}
@font-face{font-family:'Zerno';src:url('assets/zerno.woff2') format('woff2');font-display:swap}
@font-face{font-family:'LC Hairline';src:url('assets/lc-hairline.woff2') format('woff2');font-display:swap}
